*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: hsl(0,0%,100%);
    --light-gray: hsl(212,45%,89%);
    --grayish-blue: hsl(220,15%,55%);
    --dark-blue: hsl(218,44%,22%)
}

body{
    background-color: var(--light-gray);
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;

}
p{
    font-size: .8rem;
    color: var(--grayish-blue);
}
main{
    max-width: 300px;
    margin: 2rem auto;
    background-color: var(--white);

    box-shadow: 2px 2px 2px 2px  solid blue;
}
main,img{
    border-radius: .9rem;
}
main > *{
    padding: .5rem;
}
main img{
    width: 100%;
}
.img-description > h3,p{
    text-align: center;
    padding-bottom: 20px;
}
